*{
	padding: 0px;
	margin: 0px;
	font-family: 微软雅黑;
}
body{
	background: #f9f9f9;
}
.clear{
	clear: both;
}
.topHeader{
	width: 100%;
	height: 26px;
	border-bottom: solid 1px #e5e5e5; 
	background: #f2f2f2;
}

.topHeaderCon{
	height: 27px;
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.topHeader .topHeaderLeft{
	width: 370px;
	height: 26px;
	color: #666;
	position: absolute;
	left: 0px;
	top: 0px;
	line-height: 26px;
}

.topHeader .topHeaderRight{
	width: 781px;
	height: 26px;
	color: #666;
	
	float: right;
	line-height: 26px;
	font-size: 12px;
}

.topHeader .topHeaderLeft p{
	color:#999;
	float: left;
	margin-right: 6px;
	font-size: 12px;
}
.topHeader .topHeaderLeft a{
	color:#999;
	font-size: 12px;
	float: left;
	margin-right: 6px;
	text-decoration: none;
}
.topHeader .topHeaderLeft a:hover{
	color: #cc0001;
}

s.fenge{
	width: 0;
	height: 12px;
	border-left: 1px solid #ccc;
	top: 7px;
	overflow: hidden;
	position: absolute;
	margin:0 5px;
}

.topHeaderRight ul{
	list-style: none;
}
.topHeaderRight ul li{
	float: left;
	margin-right: 1px;
	position: relative;
	padding:0 5px;
}
.topHeaderRight ul li a{
	text-decoration: none;
	color: #999;
}
.topHeaderRight ul li a:hover{
	color: #cc0001;
}

.topHeaderRight .th-l1{
	width: 74px;
	text-align: left;
	background: #fff;
	background: transparent;
}
.topHeaderRight .th-l1 .myJiuXian{
	padding-left: 6px;
}
.topHeaderRight .th-l1 .myJiuXian s.thIcon{
	width: 9px;
	background: url(../img/public-24.png) -99px 3px no-repeat ;
	height: 8px;
	text-align: center;
	float: right;
	margin-top: 8px;
	margin-right:5px;
}
.topHeaderRight ul li .myJiuXianBox{
	height: 78px;
	padding: 5px 0px;
	position: relative;
	border-left: solid 1px #e5e5e5;
	border-right: solid 1px #e5e5e5;
	border-bottom: solid 1px #e5e5e5;
	width: 100%;
	margin-left: 2px;
	padding-right: 8px;
	background: #fff;
	left: -7px;
}

.topHeaderRight ul li .myJiuXianBox a{
	width: 72px;
	display: inline-block;
	float: left;
	text-align: center;
}
.topHeaderRight ul li .myJiuXianBox a:hover{
	text-decoration: underline;
}
.topHeaderRight .th-l2 a,.topHeaderRight .th-l4 a,.topHeaderRight{
	color: #cc0001;
}

.topHeaderRight .th-l6 a{
	background: #cc0001;
	border-radius: 2px;
	height: 16px;
	color: #fff;
	padding:0 3px; 
}
.topHeaderRight .th-l6 a:hover{
	color: #fff;
}
.topHeaderRight .th-l6 .th-l6Icon{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../img/public-24.png) -62px 0 no-repeat;
	position: relative;
	top: 1px;
}
.topHeaderRight .th-l6 .th-l6-2D{
	display: none;
}

.th-l7 .subNav .subNavIcon{
	display: inline-block;
	width: 12px;
	height: 12px;
	overflow: hidden;
	position: relative;
	background: url(../img/public-24.png) -80px 0 no-repeat;
	top: 2px;
}
.th-l7 .subNav .subNavIcon2{
	display: inline-block;
	width: 9px;
	height: 8px;
	background: url(../img/public-24.png)-99px 3px no-repeat;
}

.th-l7 .subNavBox{
	width: 205px;
	border-left: 1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	position: absolute;
	top: 27px;
	left: -1px;
	background: #fff;
	padding: 5px 0 0 0;
	display: none;
}
.subNavItem1,.subNavItem2,.subNavItem3,.subNavItem4{
	width: 165px;
	padding: 6px 20px 15px;
	border-bottom: 1px solid #ededed;

}
.subNavItem2,.subNavItem4{
	background: #f9f9f9;
}
.th-l7 .subNavBox h3{
	margin-bottom: -15px;
}
.th-l7 .subNavBox a{

	display: inline-block;
	height: 24px;
	text-align: left;
	width: 48px;
	margin-right: 4px;
	overflow: hidden;
	margin-bottom: -20px;
}

.th-l8 .cusService .cusServiceIcon{
	display: inline-block;
	position: relative;
	top: 3px;
	width: 12px;
	height: 15px;
	background: url(../img/public-24.png)-90px -263px no-repeat;
}
.th-l8 .cusService .cusServiceIcon2{
	display: inline-block;
	width: 9px;
	height: 8px;
	background: url(../img/public-24.png)-99px 3px no-repeat;
}

.th-l8 .cusServiceBox{
	position: relative;
	width: 87px;
	line-height: 26px;
	padding: 5px 0;
	background: #fff;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	display: none;
	left: -6px;
}
.th-l8{
	width: 77px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;

}

.th-l8 .cusServiceBox a{
	display: inline-block;
	width: 72px;
	text-align: center;
	line-height: 26px;

}
.th-l9{
	color: #999;
}
.th-l9 .num{
	color: #c00;
	font-weight: 500; 
}

/*顶部横幅*/
.topBox{
	width: 100%;
	height: 90px;
	background: #fff;
	margin: 0 auto;
	background: url(../img/hengfu.jpg) no-repeat top center scroll;
}

/*顶部搜索框*/
.midHeader{
	width: 100%;
	height: 125px;
	background: #fff;
}

.midHeaderCon{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	background: #fff;
}
.midHeaderCon .headerLogo{
	width: 257px;
	height: 65px;
	float: left;
	display: inline-block;
	margin-top: 30px;
	overflow: hidden;
}

.midHeaderCon .headerSearch{
	width: 540px;
	height: 61px;
	display: inline-block;
	float: left;
	margin: 32px 0 0 20px;
}
.headerSearch .searchHome{
	border: 3px solid #c00;
	z-index: 800;
	height: 31px;

}
.headerSearch .searchForm{
	display: inline-block;
	width: 439px;
	height: 21px;
	line-height: 22px;
	padding: 5px;
	border: 0 none;
	color: #666;
}
.headerSearch .searchBtn{
	display: inline-block;
	width: 85px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	background: #c00;
	cursor: pointer;
	float: right;
	border: none;
}
.headerSearch .hotWords{
	width: 540px;
	height: 18px;
	padding-top: 5px;
	font-size: 12px;
	float: left; 
}
.headerSearch .hotWords a{
	display: inline-block;
	float: left;
	color: #999;
	padding:  0 8px;
	height: 18px;
	text-decoration: none;

}
.headerSearch .hotWords a:hover{
	color: #c00;
	text-decoration: underline;
}
.hotWords s{
	display: inline-block;
	margin-left: 3px;
	height: 12px;
	width: 0;
	border-left: 1px solid #999;
	position: relative;
	left: 5px;
	top: 2px;
}

.midHeaderCon .headerInfor{
	width: 363px;
	height: 64px;
	display: inline-block;
	float: right;
	margin: 33px 0 0 0;
	background: url(../img/headerInfor.png) no-repeat top left;
}

/*顶部导航*/

.topNav{
	width: 100%;
	height: 34px;
	background: #900;
	z-index: 20;
}
.topNav .topNavCon{
	width: 1200px;
	height: 100%;
	margin: 0 auto; 
}

.topNavCon .navLeft{
	width: 190px;
	height: 100%;
	float: left;
}
.navLeft h2{
	color: #fff;
	line-height: 34px;
	font-weight: 600;
	font-size: 14px;
	background: #ce171f;
	text-align: center;
	cursor: pointer;
	box-shadow: 4px 2px 5px rgba(0,0,0,0.2);
}
.navLeft ul.leftMenu{
	width: 190px;
	height: 470px;
	display: block;
	z-index: 30;
}
.topNavCon .navMid{
	width: 890px;
	height: 100%;
	float: left;
}
.navMid ul{
	float: left;
	line-height: 34px;
	display: block;
	list-style: none;
}
.navMid ul li{
	float: left;
	display: inline-block;
	text-align: center;
	position: relative;
	height: 34px;
}
.navMid ul li a{
	padding: 0 22px;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}
.navMid .tag span{
	display: block;
	width: 29px;
	height: 17px;
	background: url(../img/public-24.png)0 -264px no-repeat;
	position: absolute;
	right: 6px;
	top: -6px;
	z-index: 200;
}

.topNavCon .navRight{
	width: 120px;
	height: 100%;
	float: left;
}
/*左侧菜单栏*/

.leftMenu .menuLi{
	width: 187px;
	float: left;
	height: 81px;
	background: #fff;
	border-bottom:1px solid #e4e4e4;
	list-style: none;
	color: #666;  
	position: relative;
	border-left: solid 3px #fff;
	z-index: 20;
}
.leftMenu .menuLi6{
	height: 60px;
	border: none;
	border-left: solid 3px #fff;
}
.leftMenu .menuLiCon{
	width: 163px;
	height: 81px;
	margin: 0 auto;
}
.leftMenu .menuLiCon6{
	width: 163px;
	height: 60px;
	margin: 0 auto;
}
.menuLi h3{
	line-height: 32px;
	height: 32px;
	font-size: 14px;
	overflow: hidden;
	font-weight: normal;
	padding-top: 3px;
	color: #333;
}
.menuLi h3 a{
	color: #333;
	text-decoration: none;
}
.menuLi .menuListCon{
	width: 163px;
	position: relative;
	height: 40px;
}
.menuLi6 .menuListCon6{
	width: 163px;
	position: relative;
	height: 20px;
}
.menuListCon6 p{
	height: 20px;
}
.menuListCon6 p a{
	height: 16px;
	display: inline-block;
	float: left;
	font-size: 12px;
	padding: 0 4px;
	margin: 2px 3px 2px 0;
	text-decoration: none;
	color: #666;
}
.menuListCon p{
	width: 170px;
	height: 20px;
}
.menuListCon p a{
	display: inline-block;
	height: 16px;
	font-size: 12px;
	float: left;
	padding: 0 4px;
	margin: 2px 3px 2px 0;
	text-decoration: none;
	color: #666;
}

.menuListCon p a.on{
	background: #f90;
	color: #fff;
	border-radius: 3px;
	line-height: 16px;
}

.menuLi1 i{
	display: inline-block;
	width: 14px;
	height: 20px;
	margin-right: 10px;
	vertical-align: middle;
	position: relative;
	top: -1px;
	background: url(../img/public-24.png) -73px -260px no-repeat;
}
.menuLi2 i{
	display: inline-block;
	width: 14px;
	height: 20px;
	margin-right: 10px;
	vertical-align: middle;
	position: relative;
	top: -1px;
	background: url(../img/public-24.png) 2px -100px no-repeat;
}
.menuLi3 i{
	display: inline-block;
	width: 14px;
	height: 20px;
	margin-right: 10px;
	vertical-align: middle;
	position: relative;
	top: -1px;
	background: url(../img/public-24.png) -16px -102px no-repeat;
}
.menuLi4 i{
	display: inline-block;
	width: 14px;
	height: 20px;
	margin-right: 10px;
	vertical-align: middle;
	position: relative;
	top: -1px;
	background: url(../img/public-24.png) -37px -100px no-repeat;
}
.menuLi5 i{
	display: inline-block;
	width: 14px;
	height: 20px;
	margin-right: 10px;
	vertical-align: middle;
	position: relative;
	top: -1px;
	background: url(../img/public-24.png) -59px -100px no-repeat;
}
.menuLi6 i{
	display: inline-block;
	width: 14px;
	height: 20px;
	margin-right: 10px;
	vertical-align: middle;
	position: relative;
	top: -1px;
	background: url(../img/public-24.png) -79px -100px no-repeat;
}
/*菜单栏弹出框******************************************************8*/
.menuLi .menuBox{
	width: 620px;
	height: 470px;
	position: absolute;
	left: 187px;
	top: 0;
	display: none;
}
.menuBox1 .mBox1Left{
	width: 90px;
	height: 100%;
	background: rgb(241,241,241);
	float: left;
} 
.menuBox1 .mBox1Mid{
	width: 310px;
	height: 100%;
	float: left;
} 
.menuBox1 .mBox1Right{
	width: 220px;
	height: 100%;
	float: left;
} 
.mBox1Left ul li{
	text-decoration: none;
	width: 90px;
	display: block;
	font-size: 12px;
	color: #333;
	text-align: center;
}
.mBox1Left ul li p{
	padding-top: 15px;
}
.mBox1Left ul .mB1LeftL1{
	height: 69px;
}
.mBox1Left ul .mB1LeftL{
	height: 43px;
}
.mBox1Mid .mBox1MidCon{
	display: block;
	width: 280px;
	height: 470px;
	margin: 0 auto;
	background: #fff;
}
.mBox1MidCon ul .mB1MidL1{
	display: inline-block;
	text-decoration: none;
	width: 280px;
	height: 59px;
	padding-top: 10px;
	border-bottom:dotted 1px #999;
}
.mB1MidL1 p{
	line-height: 21px;
}
.mB1MidL1 p a{
	display: inline-block;
	font-size: 12px;
	color: #666;
	margin-left: 10px;
	text-decoration: none;
}
.mB1MidL1 p a:hover{
	color: #cc0001;
}
.mB1MidL1 p s{
	display: inline-block;
	margin-left: 3px;
	height: 12px;
	width: 0;
	border-left: 1px solid #666;
	position: relative;
	left: 5px;
	top: 2px;
}
.mBox1MidCon ul .mB1MidL{
	display: inline-block;
	text-decoration: none;
	width: 280px;
	height: 33px;
	padding-top: 10px;
	border-bottom:dotted 1px #999;
}
.mB1MidL p a{
	display: inline-block;
	font-size: 12px;
	color: #666;
	margin-left: 10px;
	text-decoration: none;
}
.mB1MidL p a:hover{
	color: #cc0001;
}
.mB1MidL p s{
	display: inline-block;
	margin-left: 3px;
	height: 12px;
	width: 0;
	border-left: 1px solid #666;
	position: relative;
	left: 5px;
	top: 2px;
}
/*轮播图******************************/

.mainBanner{
	width: 100%;
	height: 470px;
	position: relative;
}
#theTarget{
	width: 100%;
	height: 470px;
	z-index: 10;
}
.mainBanner .bannerImg1{
	background:url(../img/bannerImg1.jpg) no-repeat center; 
}
.mainBanner .bannerImg2{
	background:url(../img/bannerImg2.jpg) no-repeat center; 
}
.mainBanner .bannerImg3{
	background:url(../img/bannerImg3.jpg) no-repeat center; 
}
.mainBanner .bannerImg4{
	background:url(../img/bannerImg4.jpg) no-repeat center; 
}
.mainBanner .bannerImg5{
	background:url(../img/bannerImg5.jpg) no-repeat center; 
}
/*右侧展示窗***************/
.bannerRight{
	width: 190px;
	height: 470px;
	float: right;
	position: absolute;
	right: 75px;
	top: 0;
	z-index: 20;
}
.bannerRight .bannerRight1,.bannerRight2{
	width: 190px;
	height: 470px;
	float: right;
}

.bannerRight a{
	display:block;
	width: 190px;
	height: 156px;
	background: #aff;
}
.bannerRight span{
	display: block;
	width: 190px;
	height: 1px;
	background: transparent;
}
.bannerRight .bannerRight1 a{
	background: url(../img/br1.png);
}
.bannerRight .bannerRight2 a{
	background: url(../img/br2.png);
}
.bannerRight .bannerRight2{
	display: none;
}
/*页面主体mainbox**********************/
.mainBody{
	width: 100%;
	height: 4516px;
	padding: 10px 0;
	background: #f9f9f9;
}
.mainBox{
	width: 1200px;
	height: 4516px;
	margin: 0 auto;
}

.mainBox .crazySale{
	width: 100%;
	height: 500px;
	position: relative;
}
.crazySale .cSaleLeft{
	width: 920px;
	height: 100%;
	float: left;
	border-right: solid 1px #ececec;
	border-left: solid 1px #ececec;
	border-bottom: solid 1px #ececec;
}
.cSaleLeft .cSLNav{
	height: 38px;
	width: 100%;
}

.cSLNav ul li{
	display: inline-block;
	list-style: none;
	width: 183px;
	border-right: 1px solid #ececec;
	border-top: 2px solid #ececec;
	border-bottom: 1px solid #ececec;
	height: 35px;
	cursor: pointer;
	text-align: center;
	line-height: 35px;
	font-size: 16px;
	color: #666;
	background: #f9f9f9;
	float: left;
}
.cSLNav ul li.on{
	width: 183px;
	border-top: 2px solid #cc0000;
	border-bottom: 1px solid #fff;
	height: 35px;
	color: #cc0000;
	line-height: 35px;
	background: #fff;
}
.cSaleLeft .cSLBody{
	height: 461px;
	width: 100%;
	background: #fff;
}
.cSLBody .lBodyTab{
	height: 442px;
	margin: 0 auto;
	padding: 10px 0;
	position: relative;
	display: none;
}
.cSLBody .lBodyTab.on{
	display: block;
}
.cSLBody .lBodyTab ul li{
	display: block;
	float: left;
	width: 182px;
	height: 196px;
	margin-top: 20px;
	margin-right: 2px;
	list-style: none;
	color: #666;
	background: #fff;
}
.indexTabPic{
	width: 160px;
	height: 160px;
	padding: 0 11px;
	position: relative;
}
.indexTabPic a{
	width: 182px;
	height: 160px;
	display: block;
}
.indexTabPic a img{
	width: 160px;
	height: 160px;
	display: block;
}
.indexTabPic p{
	background:url(../img/tagBg.png);
	position: absolute;
	width: 45px;
	height:55px;
	right: 0;
	top: 0;
	z-index: 999;
	color: #fff;
	text-align: center;
}
.indexTabPic p span{
	display: inline-block;
	width: 43px;
	height: 28px;
	font-size: 12px;
	padding: 0 1px;
}
.indexTabTitle a{
	padding:0 6px;
	height: 18px;
	line-height: 14px;
	color: #666;
	font-size: 12px;
	text-decoration: none;
}
.indexTabPrice{
	width: 170px;
	height: 18px;
	line-height: 18px;
	padding: 0 6px;
}
.indexTabPrice strong{
	font-size: 12px;
	color: #cd0100;
	font-weight: normal;
	line-height: 18px;
	display: inline;
	vertical-align: middle;
	text-align: left;
}

.crazySale .cSaleRight{
	width: 270px;
	float: right;
	height: 100%;
	position: relative;
	border: 1px solid #ececec;
}
.cSaleRight .cSRTop{
	height: 140px;
	width: 100%;
	float: left;
	background: red;
}
.cSRTop .cSRTopNav{
	height: 35px;
	position: relative;
	color: #666;

}
.cSRTopNav ul li{
	font-size: 16px;
	text-align: center;
	width: 134px;
	display: block;
	border-top: 2px solid transparent;
	border-bottom: 1px solid #ececec;
	border-left: 1px solid #ececec;
	cursor: pointer;
	float: left;
	list-style: none;
	line-height: 33px;
	background: #fff;
}
.cSRTopNav ul li.on{
	border-top:2px solid #c41921;
	color: #cc0000;
	line-height: 33px;
	background: #fff; 
	border-bottom: none;
}
.cSRTopBody{
	width: 270px;
	height: 95px;
	padding-top: 10px;
	background: #fff;
}
.cSRTopBody .cSRTopTab{
	width: 258px;
	height: 84px;
	margin :0 6px; 
	display: none;
}
.cSRTopBody .on{
	width: 258px;
	height: 84px;
	margin :0 6px; 
	display: block;
}
.cSRTopBody .cSRTopTab ul li{
	list-style: none;
	line-height: 28px;
	font-size: 12px;
	width: 114px;
	display:inline;
	float: left;
	margin-left: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.cSRTopTab ul li a{
	color: #666;
	font-size: 12px;
	text-decoration: none;
}
.cSRTopTab ul li a:hover{
	color: #ff7700;
	text-decoration: underline;
}

.cSaleRight .cSRMiddle{
	height: 159px;
	width: 100%;
	margin-top: 10px;
	float: left;
}
.cSRMiddle1{
	background: url("../img/cSRMiddle1.jpg");
}
.cSRMiddle2{
	background: url("../img/cSRMiddle2.jpg");
}
.cSaleRight .cSRBottom{
	height: 180px;
	width: 100%;
	margin-top: 10px;
	float: left;
	border-bottom: ; 
}
.cSRBottom1{
	background: url("../img/cSRBottom1.jpg");
}
.cSRBottom2{
	background: url("../img/cSRBottom2.png");
}

.cSRBottom3{
	background: url("../img/cSRBottom3.jpg");
}
/***************中部三图banner*******************/
.middleBanner{
	height: 110px;
	width: 100%;
	position: relative;
	background: url("../img/middleBanner.jpg");
	margin-top: 20px;
}
.middleBanner p{
	margin: 0 0 0 90px;
	width: 290px;
	height: 106px;
	float: left;
	display: inline;
	color: red;
}
/***************限时秒杀*******************/
.raceBox{
	height: 300px;
	margin-top: 30px;
}
.raceBox .raceTitle{
	width: 1200px;
	height: 40px;
	background: #f9f9f9;
	padding: 0 3px;
	line-height: 40px;

}
.raceTitle .rTitleLeft{
	width: 98px;
	float: left;
	margin: 10px 0 0 0;
	height: 20px;
	display: inline;
	line-height: 20px;
}
.rTitleLeft i{
	background: url(../img/floorIcon.png) 0 0 no-repeat;
	width: 20px;
	height:20px;
	display: inline-block;
	vertical-align: middle;
}
.rTitleLeft span{
	display: inline-block;
	vertical-align: middle;
	font-size: 17px;
	color: #333;
	margin-left: 10px;
	float: right;
}
.rTitleRight{
	float: right;
	display: inline-block;
	height: 9px;
	margin-top: 20px;
	margin-right: 5px;
}
.rTitleRight span{
	display: inline-block;
	vertical-align: middle;
	width: 9px;
	height: 9px;
	overflow:hidden;
	background: #ccc;
	margin-left: 14px;
	cursor: pointer;
	float: left;
}
.rTitleRight span.on{
	background: #c00;
}
.raceBox .raceBody{
	width: 1198px;
	height: 259px;
	border: 1px solid #ececec;
	position: relative;
	overflow: hidden;
}
.raceBody i.raceLeftArrow{
	background: url(../img/floorIcon.png)0 -28px no-repeat;
	width: 27px;
	height: 56px;
	display: block;
	position: absolute;
	top: 100px;
	left: 0;
	cursor: pointer;
	z-index: 30;
}
.raceBody i.raceRightArrow{
	background: url(../img/floorIcon.png)-28px -28px no-repeat;
	width: 27px;
	height: 56px;
	display: block;
	position: absolute;
	top: 100px;
	right: 0;
	cursor: pointer;
	z-index: 30;
}
.raceBody .raceBodyCon{
	width: 3600px;
	position: relative;
	height: 257px;
}
.raceBodyCon .raceList{
	width: 1188px;
	padding: 0 5px;
	float: left;
	height: 257px;
	background: #fff;
}
.raceList ul li{
	width: 198px;
	float: left;
	padding: 20px 0 10px 0;
	display: inline;
	position: relative;
	list-style: none;
	height: 227px;
}
.raceList ul li p{
	background:url(../img/tagBg.png) 0 0 no-repeat;
	position: absolute;
	width: 45px;
	height: 55px;
	right: 0;
	top: 0;
	z-index: 20;
	color: #fff;
	text-align: center;
}
.raceList ul li p span{
	display: inline-block;
	width: 43px;
	height: 28px;
	font-size: 12px;
	margin-top: 7px;
	padding: 0 1px;
}
.raceList ul li .raceListPic{
	width: 160px;
	padding: 0 19px;
}
.raceList ul li .raceListTit{
	width: 190px;
	padding: 0 4px;
	height: 18px;
	line-height: 18px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.raceListTit a{
	font-size: 12px;
	color: #666;
	text-decoration: none;
}
.raceListTit a:hover{
	color: #cc0001;
	text-decoration: underline;
}
.raceList ul li .raceListPri{
	width: 190px;
	padding: 0 5px 4px 4px;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	margin-top: 3px;
}
.raceList ul li .raceListPri strong{
	font-style: 15px;
	color: #cd0100;
	font-weight: normal;
}
.raceList ul li .raceListTit .timeAct{
	width: 194px;
	height: 26px;
	line-height: 26px;
}
.timeAct span{
	color: #999;
	font-size: 12px;
	margin-left: 4px;
}
.timeAct i{
	color: #cc0001;
	font-style: normal;
	text-align: center;
	padding: 0 2px;
	font-size: 12px;
}
/**********一楼白酒馆***********************************************/
/*********************************/
.floor1{
	width: 100%;
	height: 690px;
	margin-top: 10px;
	background: #fff;
}
.floor1 .f1Title{
	height: 40px;
	line-height: 40px;
	background: #f9f9f9;
	padding: 0 3px;
}
.f1Title .f1Title_l{
	width: 129px;
	line-height: 40px;
	float: left;
}
.f1Title_l i{
	display: inline-block;
	width: 28px;
	height: 29px;
	vertical-align: middle;
	color: #fff;
	text-align: center;
	line-height: 29px;
	font-family: Arial;
	font-size: 18px;
	font-style: normal;
	background: url(../img/floorIcon.png) 0 -95px no-repeat;
}
.f1Title_l span{
	display: inline-block;
	vertical-align: middle;
	color: 333;
	font-size: 17px;
	margin-left: 10px; 
}
.f1Title .f1Title_r{
	float: right;
	margin-left: 50px;
	display: inline;
	color: #999;
	width: 266px;
	line-height: 40px;
	height: 40px;
	font-size: 14px;
}
.f1Title_r a{
	height: 14px;
	padding: 0 7px;
	color: #999;
	font-size: 12px;
	text-decoration: none;
}
.f1Title_r a:hover{
	text-decoration: underline;
	color: #cc0000;
}
.f1Title_r a.on{
	padding: 2px 7px;
	color: #fff;
	height: 10px;
	border-radius: 2px;
	background: #d43d4e;
	margin-left: 10px;
}
.f1Title_r a.on:hover{
	text-decoration: none;
}
.f1Title_r a.on span{
	width: 11px;
	height: 14px;
	padding-left: 1px;
	font-family: 宋体;
	color: #fff;
}

.floor1 .f1Box{
	width: 1198px;
	border: 1px solid #ececec;
	border-top: 2px solid #c94b56;
	height: 485px;
}
.f1Box .f1Box_l{
	height: 485px;
	width: 210px;
	position: relative;
	float: left;
}
.f1Box_l #slidr-img{
	display: inline-block;
}
.f1Box .f1Box_r{
	height: 485px;
	width: 988px;
	position: relative;
	float: right;
	position: relative;
}
.floor1 .f1Bottom{
	width: 100%;
	height: 161px;
	border: 1px solid #ececec;
	border-top: none;
}
.f1Bottom .f1Bottom_l{
	float: left;
	width: 186px;
	border-right: 1px solid #ececec;
	background: #f9f9f9;
	height: 131px;
	padding: 20px 10px 10px 14px;
}

.f1Box_r ul li{
	width: 196px;
	float: left;
	padding-top: 10px; 
	display: inline;
	position: relative;
	list-style: none;
	height: 232px;
	border-bottom: 1px solid #ececec;
	border-left: 1px solid #ececec;
}
.f1Box_r ul li p{
	background:url(../img/tagBg.png) 0 0 no-repeat;
	position: absolute;
	width: 45px;
	height: 55px;
	right: 0;
	top: 0;
	z-index: 20;
	color: #fff;
	text-align: center;
}
.f1Box_r ul li p span{
	display: inline-block;
	width: 43px;
	height: 28px;
	font-size: 12px;
	margin-top: 7px;
	padding: 0 1px;
}
.f1Box_r ul li .f1Box_rPic{
	width: 160px;
	padding: 0 19px;
}
.f1Box_r ul li .f1Box_rTit{
	margin-left: 10px; 
	width: 190px;
	padding: 0 4px;
	height: 36px;
	line-height: 18px;
	text-overflow: ellipsis;
	overflow: hidden;
	}
.f1Box_rTit a{
	font-size: 12px;
	color: #666;
	text-decoration: none;
}
.f1Box_rTit a:hover{
	color: #cc0001;
	text-decoration: underline;
}
.f1Box_r ul li .f1Box_rPri{
	width: 190px;
	padding: 0 5px 4px 4px;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	margin-top: 3px;
	margin-left: 10px; 
}
.f1Box_r ul li .f1Box_rPri strong{
	font-size: 12px;
	color: #cd0100;
	font-weight: normal;
}
.f1Bottom_l ul li{
	list-style: none;
}
.f1Bottom_l ul li h3{
	font-weight: bold;
	padding-right: 5px;
}
.f1Bottom_l ul li i{
	width: 3px;
	height: 3px;
	display: inline-block;
	vertical-align: middle;
	background: #d02229;
}
.f1Bottom_l ul li span{
	color: #cc0000;
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	margin-left: 5px;
	font-size: 14px;
}
.f1Bottom_l ul li p{
	padding-left: 8px;
	width: 178px;
	height: 36px;
	line-height: 18px;
	margin-top: 5px;
}
.f1Bottom_l ul li p a{
	float: left;
	padding-right: 10px;
	display: inline-block;
	font-size: 12px;
	text-decoration: none;
	color: #666;
}

.f1Bottom .f1Bottom_r{
	width: 985px;
	height: 162px;
	float: left;
}
.f1Bottom_r .f1b_rTit{
	height: 32px;
	line-height: 32px;
	padding:0 12px; 
}
.f1b_rTit h3{
	float: left;
}
.f1b_rTit h3 i{
	display: inline-block;
	vertical-align: middle;
	width: 11px;
	height: 13px;
	background: url(../img/floorIcon.png)-38px 0 no-repeat;
}
.f1b_rTit h3 span{
	color: #d43d4e;
	font-size: 12px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}
.f1b_rTit .f1b_rTit_r{
	float: right;
	height: 32px;
}
.f1b_rTit_r a{
	font-size: 12px;
	float: left;
	display: block;
	color: #666;
	padding: 0 10px;
	height: 32px;
	text-decoration: none;
}
.f1b_rTit_r a.on{
	color: #c00;
}
.f1Bottom_r .f1b_rBox{
	width: 985px;
	height: 102px;
	padding: 10px 0 15px 0;
	position: relative;
}
.f1b_rBox ul{
	display: none;
}
.f1b_rBox ul.on{
	display: block;
}
.f1b_rBox ul li{
	width: 190px;
	height: 90px;
	float: left;
	padding-top: 10px;
	padding-right: 7px;
	list-style: none;
}
.f1b_rBox ul li i{
	display: block;
	width: 20px;
	height: 89px;
	float: left;
}

.f1b_rBox ul li .f1b_rBoxPic a img{
	width: 90px;
	height:90px;
	display: inline-block;
	float: left;
}
.f1b_rBox .f1b_rBoxTit{
	float: left;
	width: 80px;
	padding-top: 5px;
	height: 64px;
}
.f1b_rBoxTit .f1b_rBoxTit_t{
	width: 80px;
	height: 36px;
	line-height: 18px;
	font-family: 宋体;
}
.f1b_rBoxTit .f1b_rBoxTit_t a{
	width: 80px;
	height: 36px;
	display: block;
	line-height: 18px;
	font-size: 12px;
	text-decoration: none;
	color: #666;
}

.f1b_rBoxTit .f1b_rBoxTit_b{
	font-size: 16px;
	height: 18px;
	line-height: 18px;
	margin-top: 5px;
	color: #c00;
	width: 80px;
	background: #fff;
}
.f1b_rBoxTit .f1b_rBoxTit_b strong{
	font-size: 15px;
	color: #cd0100;
	font-weight: normal;
}
/*2楼********************************/
.floor2i{
	background: url(../img/floorIcon.png)-30px -95px no-repeat!important;
}
.f2Box{
	border-top: 2px solid #c2782f!important;
}
a.f2a{
	margin-left: -2px!important;
	background: #c2782f!important;
}

.f1b_rTit .f1b_rTit_r2{
	float: right;
	height: 32px;
}
.f1b_rTit_r2 a{
	font-size: 12px;
	float: left;
	display: block;
	color: #666;
	padding: 0 10px;
	height: 32px;
	text-decoration: none;
}
.f1b_rTit_r2 a.on{
	color: #c00;
}
.f1Bottom_r .f1b_rBox2{
	width: 985px;
	height: 102px;
	padding: 10px 0 15px 0;
	position: relative;
}
.f1b_rBox2 ul{
	display: none;
}
.f1b_rBox2 ul.on{
	display: block;
}
.f1b_rBox2 ul li{
	width: 190px;
	height: 90px;
	float: left;
	padding-top: 10px;
	padding-right: 7px;
	list-style: none;
}
.f1b_rBox2 ul li i{
	display: block;
	width: 20px;
	height: 89px;
	float: left;
}

.f1b_rBox2 ul li .f1b_rBoxPic a img{
	width: 90px;
	height:90px;
	display: inline-block;
	float: left;
}
.f1b_rBox2 .f1b_rBoxTit{
	float: left;
	width: 80px;
	padding-top: 5px;
	height: 64px;
}


/*3楼*********************************/
.floor3{
	height: 528px!important;
}
.floor3i{
	background: url(../img/floorIcon.png)-61px -95px no-repeat!important;
}
.f3Box{
	border-top: 2px solid #276594!important;
}
a.f3a{
	margin-left: 23px!important;
	background: #276594!important;
}
.f3Bottom_l{
	float: left; 
	width: 186px;
	background: #f9f9f9;
	height: 132px;
	padding: 20px 10px 13px 14px;
}
/*****4楼**************************/
.floor4{
	height: 528px!important;
}
.floor4i{
	background: url(../img/floorIcon.png)-94px -95px no-repeat!important;
}
.f4Box{
	border-top: 2px solid #6c9d0e!important;
}
a.f4a{
	margin-left: 0px!important;
	background: #6c9d0e!important;
}
/*****5楼**************************/
.floor5{
	height: 528px!important;
}
.floor5i{
	background: url(../img/floorIcon.png)0 -207px no-repeat!important;
}
.f5Box{
	border-top: 2px solid #fe7a65!important;
}
a.f5a{
	margin-left: 24px!important;
	background: #fe7a65!important;
}
/****官方推荐logo盒子*******************/

.recommend{
	width: 100%;
	height: 349px;
	margin-top: 10px;
	position: relative;
}
.recommend .recomTitle{
	height: 43px;
}
.recomTitle ul li{
	float: left;
	font-size: 16px;
	width: 90px;
	height: 43px;
	text-align: center;
	margin-right: 15px;
	cursor: pointer;
	list-style: none;
	color: #666;
	line-height: 43px;
}
.recomTitle ul li.on{
	color: #dd102e;
}
.recommend .recomSlider{
	border-bottom: 2px solid #dd102e;
	height: 7px;
	position: absolute;
	width: 90px;
	top: 36px;
	text-align: center;
	overflow: hidden;
	z-index: 10;
}
.recomSlider b{
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #dd102e;
	z-index: 11;
	color: #dd102e;
	position: absolute;
	left: 40px;
	top: 4px;
	transform: rotate(45deg);
}
.recommend .recomLogoBox{
	width: 1185px;
	position: relative;
	height: 274px;
	border: 1px solid #ededed;
	background: #fff;
	padding: 15px;
	padding-right: 0;
}
.recomLogoCon{
	height: 274px;
	display: none;
}
.logoOn{
	display: block;
}

.recomLogoCon ul li{
	float: left;
	width: 180px;
	height: 80px;
	position: relative;
	margin: 0 17px 17px 0;
	overflow: hidden;
}
.recomLogoCon ul li a img{
	display: inline;
	position: relative;
}
/*品牌精品店*********************/
.brand{
	width: 100%;
	height: 174px;
	margin-top: 10px;
}
.brand .brandTitle{
	height: 40px;
	line-height: 40px;
	background: #f9f9f9;
	padding:0 3px; 
}
.brandTitle i{
	display: inline-block;
	width: 7px;
	height: 18px;
	background: #ff9000;
	overflow: hidden;
	vertical-align: middle;
}
.brandTitle span{
	display: inline-block;
	font-size: 17px;
	color: #333;
	margin-left: 10px;
}
.brand .brandList{
	border: 1px solid #ececec;
	background: #fff;
	padding: 4px 4px 0 4px; 
}
.brandList dl dt{
	width: 107px;
	float: left;
	border-bottom: 4px solid #fff;
	overflow: hidden;
	height: 60px;
	background:url(../img/brandList1.jpg);
}
.brandList dl dd{
	padding: 5px 8px;
	width: 463px;
	height: 50px;
	float: left;
	line-height: 25px;
	color:#afafaf;
	border-bottom: 4px solid #fff;
	position: relative;
}
.brandList dl dd p{
	line-height: 25px;
	font-size: 12px;
	background: #fff;
}
.brandList dl dd p a{
	padding: 0 8px;
	background: #fff;
	display: inline-block;
	height: 25px;
	vertical-align: middle;
	color: #666;
	text-decoration:none;
	font-size: 12px;
	font-family: 宋体!important;
}
.brandList dl dt.list2{
	background:url(../img/brandList2.jpg);
}
.brandList dl dt.list3{
	background:url(../img/brandList3.jpg);
}
.brandList dl dt.list4{
	background:url(../img/brandList4.jpg);
}

/*页脚*****************************************/
.footer{
	width: 100%;
	height: 568px;
	background: #f9f9f9;
}
.footer .footerTop{
	width: 100%;
	height: 289px;
	background: #333;
}
.footerTop .topTel{
	width: 1200px;
	margin: 0 auto;
	height: 84px;
	border-bottom: 1px solid #494949;
}
.topTel .telCon{
	float: left;
	height: 40px;
	line-height: 40px;
	padding: 22px 0;
}
.telCon i{
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 18px;
	background: url(../img/public-24.png) -144px -22px no-repeat;
	float: left;
}
.telCon b{
	font-size: 24px;
	color: #c00;
	margin-right: 25px;
	display: inline-block;
	float: left;
}
.telCon span{
	font-size: 14px;
	color: #fff;
	margin-right: 8px;
}
.topTel .mailCon{
	float: right;
	height: 32px;
	width: 336px;
	padding: 26px 0;
	position: relative;
}
.mailCon .inputCon{
	border: 1px solid #494949;
	float: left;
	width: 240px;
	height: 30px;
	position: relative;
	z-index: 10;
}
.mailCon p{
	float: left;
	line-height: 32px;
	color: #fff;
	padding-right: 10px;
	font-size: 12px;
}
.mailCon input{
	width: 190px;
	height: 30px;
	line-height: 30px;
	padding: 0 6px;
	float: left;
	color: #fff;
	border: 0 none;
	background: transparent;
	z-index: 20;
}
.mailCon span{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	color: #999;
	position: absolute;
	left: 5px;
	top: 30;
	font-size: 14px;
	z-index: 1;
}
.mailCon i{
	display:  inline-block;
	width: 22px;
	height: 18px;
	margin: 6px 0 0 10px;
	cursor: pointer;
	float: left;
	background: url(../img/public-24.png)-133px 0 no-repeat;
}

.footerTop .topServe{
	width: 1200px;
	margin: 0 auto;
	height: 114px;
	margin-top: 30px; 
	background: url(../img/footerBot.png) no-repeat;
}
.footer .footerBot{
	width: 1200px;
	margin: 0 auto;
	height: 260px;
	margin-top: 20px;
	background: url(../img/footerBot2.png) no-repeat;
}
.rightSideBar{
	width: 35px;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	background: #fff;
	z-index: 1000;
	box-shadow: 1px 2px 5px #999;
}
.rightSideBar .rightBarCon{
	height: 614px;
	position: relative;
}
.rightBarCon .rbarTop{
	width: 35px;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 300;
	text-align: center;
	height: 365px;
	margin-top: -182.5px;
	background: #aff;
}
.rightBarCon .rbarBot{
	width: 35px;
	position: absolute;
	bottom: 30px;
	right: 0;
	text-align: center;
	height: 96px;
	background: #faf;
}