*{
	padding: 0px;
	margin: 0px;
	font-family: 微软雅黑;
}
.claer{
	clear: both;
}
.topHeader{
	width: 100%;
	height: 26px;
	border-bottom: solid 1px #e5e5e5; 
	background: #f2f2f2;
}

.topHeaderCon{
	height: 27px;
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.topHeader .topHeaderLeft{
	width: 370px;
	height: 26px;
	color: #666;
	position: absolute;
	left: 0px;
	top: 0px;
	line-height: 26px;
}

.topHeader .topHeaderRight{
	width: 781px;
	height: 26px;
	color: #666;
	
	float: right;
	line-height: 26px;
	font-size: 12px;
}

.topHeader .topHeaderLeft p{
	color:#999;
	float: left;
	margin-right: 6px;
	font-size: 12px;
}
.topHeader .topHeaderLeft a{
	color:#999;
	font-size: 12px;
	float: left;
	margin-right: 6px;
	text-decoration: none;
}
.topHeader .topHeaderLeft a:hover{
	color: #cc0001;
}

s.fenge{
	width: 0;
	height: 12px;
	border-left: 1px solid #ccc;
	top: 7px;
	overflow: hidden;
	position: absolute;
	margin:0 5px;
}

.topHeaderRight ul{
	list-style: none;
}
.topHeaderRight ul li{
	float: left;
	margin-right: 1px;
	position: relative;
	padding:0 5px;
}
.topHeaderRight ul li a{
	text-decoration: none;
	color: #999;
}
.topHeaderRight ul li a:hover{
	color: #cc0001;
}

.topHeaderRight .th-l1{
	width: 74px;
	text-align: left;
	background: #fff;
	background: transparent;
}
.topHeaderRight .th-l1 .myJiuXian{
	padding-left: 6px;
}
.topHeaderRight .th-l1 .myJiuXian s.thIcon{
	width: 9px;
	background: url(../img/public-24.png) -99px 3px no-repeat ;
	height: 8px;
	text-align: center;
	float: right;
	margin-top: 8px;
	margin-right:5px;
}
.topHeaderRight ul li .myJiuXianBox{
	height: 78px;
	padding: 5px 0px;
	position: relative;
	border-left: solid 1px #e5e5e5;
	border-right: solid 1px #e5e5e5;
	border-bottom: solid 1px #e5e5e5;
	width: 100%;
	margin-left: 2px;
	padding-right: 8px;
	background: #fff;
	left: -7px;
}

.topHeaderRight ul li .myJiuXianBox a{
	width: 72px;
	display: inline-block;
	float: left;
	text-align: center;
}
.topHeaderRight ul li .myJiuXianBox a:hover{
	text-decoration: underline;
}
.topHeaderRight .th-l2 a,.topHeaderRight .th-l4 a,.topHeaderRight{
	color: #cc0001;
}

.topHeaderRight .th-l6 a{
	background: #cc0001;
	border-radius: 2px;
	height: 16px;
	color: #fff;
	padding:0 3px; 
}
.topHeaderRight .th-l6 a:hover{
	color: #fff;
}
.topHeaderRight .th-l6 .th-l6Icon{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../img/public-24.png) -62px 0 no-repeat;
	position: relative;
	top: 1px;
}
.topHeaderRight .th-l6 .th-l6-2D{
	display: none;
}

.th-l7 .subNav .subNavIcon{
	display: inline-block;
	width: 12px;
	height: 12px;
	overflow: hidden;
	position: relative;
	background: url(../img/public-24.png) -80px 0 no-repeat;
	top: 2px;
}
.th-l7 .subNav .subNavIcon2{
	display: inline-block;
	width: 9px;
	height: 8px;
	background: url(../img/public-24.png)-99px 3px no-repeat;
}

.th-l7 .subNavBox{
	width: 205px;
	border-left: 1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	position: absolute;
	top: 27px;
	left: -1px;
	background: #fff;
	padding: 5px 0 0 0;
	display: none;
}
.subNavItem1,.subNavItem2,.subNavItem3,.subNavItem4{
	width: 165px;
	padding: 6px 20px 15px;
	border-bottom: 1px solid #ededed;

}
.subNavItem2,.subNavItem4{
	background: #f9f9f9;
}
.th-l7 .subNavBox h3{
	margin-bottom: -15px;
}
.th-l7 .subNavBox a{

	display: inline-block;
	height: 24px;
	text-align: left;
	width: 48px;
	margin-right: 4px;
	overflow: hidden;
	margin-bottom: -20px;
}

.th-l8 .cusService .cusServiceIcon{
	display: inline-block;
	position: relative;
	top: 3px;
	width: 12px;
	height: 15px;
	background: url(../img/public-24.png)-90px -263px no-repeat;
}
.th-l8 .cusService .cusServiceIcon2{
	display: inline-block;
	width: 9px;
	height: 8px;
	background: url(../img/public-24.png)-99px 3px no-repeat;
}

.th-l8 .cusServiceBox{
	position: relative;
	width: 87px;
	line-height: 26px;
	padding: 5px 0;
	background: #fff;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	display: none;
	left: -6px;
}
.th-l8{
	width: 77px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;

}

.th-l8 .cusServiceBox a{
	display: inline-block;
	width: 72px;
	text-align: center;
	line-height: 26px;

}
.th-l9{
	color: #999;
}
.th-l9 .num{
	color: #c00;
	font-weight: 500; 
}

/*顶部横幅*/
.topBox{
	width: 100%;
	height: 90px;
	background: #fff;
	margin: 0 auto;
	background: url(../img/hengfu.jpg) no-repeat top center scroll;
}

/*顶部搜索框*/
.midHeader{
	width: 100%;
	height: 125px;
	background: #fff;
}

.midHeaderCon{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	background: #fff;
}
.midHeaderCon .headerLogo{
	width: 257px;
	height: 65px;
	float: left;
	display: inline-block;
	margin-top: 30px;
	overflow: hidden;
}

.midHeaderCon .headerSearch{
	width: 540px;
	height: 61px;
	display: inline-block;
	float: left;
	margin: 32px 0 0 20px;
}
.headerSearch .searchHome{
	border: 3px solid #c00;
	z-index: 800;
	height: 31px;

}
.headerSearch .searchForm{
	display: inline-block;
	width: 439px;
	height: 21px;
	line-height: 22px;
	padding: 5px;
	border: 0 none;
	color: #666;
}
.headerSearch .searchBtn{
	display: inline-block;
	width: 85px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	background: #c00;
	cursor: pointer;
	float: right;
	border: none;
}
.headerSearch .hotWords{
	width: 540px;
	height: 18px;
	padding-top: 5px;
	font-size: 12px;
	float: left; 
}
.headerSearch .hotWords a{
	display: inline-block;
	float: left;
	color: #999;
	padding:  0 8px;
	height: 18px;
	text-decoration: none;

}
.headerSearch .hotWords a:hover{
	color: #c00;
	text-decoration: underline;
}
.hotWords s{
	display: inline-block;
	margin-left: 3px;
	height: 12px;
	width: 0;
	border-left: 1px solid #999;
	position: relative;
	left: 5px;
	top: 2px;
}

.midHeaderCon .headerInfor{
	width: 363px;
	height: 64px;
	display: inline-block;
	float: right;
	margin: 33px 0 0 0;
	background: url(../img/headerInfor.png) no-repeat top left;
}

/*顶部导航*/

.topNav{
	width: 100%;
	height: 34px;
	background: #900;
}
.topNav .topNavCon{
	width: 1200px;
	height: 100%;
	margin: 0 auto; 
}

.topNavCon .navLeft{
	width: 190px;
	height: 100%;
	float: left;
}
.navLeft h2{
	color: #fff;
	line-height: 34px;
	font-weight: 600;
	font-size: 14px;
	background: #ce171f;
	text-align: center;
	cursor: pointer;
	box-shadow: 4px 2px 5px rgba(0,0,0,0.2);
}
.navLeft ul.leftMenu{
	width: 190px;
	height: 470px;
	display: block;
	z-index: 30;
}
.topNavCon .navMid{
	width: 890px;
	height: 100%;
	float: left;
}
.navMid ul{
	float: left;
	line-height: 34px;
	display: block;
	list-style: none;
}
.navMid ul li{
	float: left;
	display: inline-block;
	text-align: center;
	position: relative;
	height: 34px;
}
.navMid ul li a{
	padding: 0 22px;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}
.navMid .tag span{
	display: block;
	width: 29px;
	height: 17px;
	background: url(../img/public-24.png)0 -264px no-repeat;
	position: absolute;
	right: 6px;
	top: -6px;
	z-index: 200;
}

.topNavCon .navRight{
	width: 120px;
	height: 100%;
	float: left;
}
/*左侧菜单栏*/

.leftMenu .menuLi{
	width: 187px;
	float: left;
	height: 81px;
	background: #fff;
	border-bottom:1px solid #e4e4e4;
	list-style: none;
	color: #666;  
	position: relative;
	border-left: solid 3px #fff;
}
.leftMenu .menuLi6{
	height: 60px;
	border: none;
	border-left: solid 3px #fff;
}
.leftMenu .menuLiCon{
	width: 163px;
	height: 81px;
	margin: 0 auto;
}
.leftMenu .menuLiCon6{
	width: 163px;
	height: 60px;
	margin: 0 auto;
}
.menuLi h3{
	line-height: 32px;
	height: 32px;
	font-size: 14px;
	overflow: hidden;
	font-weight: normal;
	padding-top: 3px;
	color: #333;
}
.menuLi h3 a{
	color: #333;
	text-decoration: none;
}
.menuLi .menuListCon{
	width: 163px;
	position: relative;
	height: 40px;
}
.menuLi6 .menuListCon6{
	width: 163px;
	position: relative;
	height: 20px;
}
.menuListCon6 p{
	height: 20px;
}
.menuListCon6 p a{
	height: 16px;
	display: inline-block;
	float: left;
	font-size: 12px;
	padding: 0 4px;
	margin: 2px 3px 2px 0;
	text-decoration: none;
	color: #666;
}
.menuListCon p{
	width: 170px;
	height: 20px;
}
.menuListCon p a{
	display: inline-block;
	height: 16px;
	font-size: 12px;
	float: left;
	padding: 0 4px;
	margin: 2px 3px 2px 0;
	text-decoration: none;
	color: #666;
}

.menuListCon p a.on{
	background: #f90;
	color: #fff;
	border-radius: 3px;
	line-height: 16px;
}

.menuLi1 i{
	display: inline-block;
	width: 14px;
	height: 20px;
	margin-right: 10px;
	vertical-align: middle;
	position: relative;
	top: -1px;
	background: url(../img/public-24.png) -73px -260px no-repeat;
}
.menuLi2 i{
	display: inline-block;
	width: 14px;
	height: 20px;
	margin-right: 10px;
	vertical-align: middle;
	position: relative;
	top: -1px;
	background: url(../img/public-24.png) 2px -100px no-repeat;
}
.menuLi3 i{
	display: inline-block;
	width: 14px;
	height: 20px;
	margin-right: 10px;
	vertical-align: middle;
	position: relative;
	top: -1px;
	background: url(../img/public-24.png) -16px -102px no-repeat;
}
.menuLi4 i{
	display: inline-block;
	width: 14px;
	height: 20px;
	margin-right: 10px;
	vertical-align: middle;
	position: relative;
	top: -1px;
	background: url(../img/public-24.png) -37px -100px no-repeat;
}
.menuLi5 i{
	display: inline-block;
	width: 14px;
	height: 20px;
	margin-right: 10px;
	vertical-align: middle;
	position: relative;
	top: -1px;
	background: url(../img/public-24.png) -59px -100px no-repeat;
}
.menuLi6 i{
	display: inline-block;
	width: 14px;
	height: 20px;
	margin-right: 10px;
	vertical-align: middle;
	position: relative;
	top: -1px;
	background: url(../img/public-24.png) -79px -100px no-repeat;
}
/*菜单栏弹出框******************************************************8*/
.menuLi .menuBox{
	width: 620px;
	height: 470px;
	position: absolute;
	left: 187px;
	top: 0;
	display: none;
}
.menuBox1 .mBox1Left{
	width: 90px;
	height: 100%;
	background: rgb(241,241,241);
	float: left;
} 
.menuBox1 .mBox1Mid{
	width: 310px;
	height: 100%;
	float: left;
} 
.menuBox1 .mBox1Right{
	width: 220px;
	height: 100%;
	float: left;
} 
.mBox1Left ul li{
	text-decoration: none;
	width: 90px;
	display: block;
	font-size: 12px;
	color: #333;
	text-align: center;
}
.mBox1Left ul li p{
	padding-top: 15px;
}
.mBox1Left ul .mB1LeftL1{
	height: 69px;
}
.mBox1Left ul .mB1LeftL{
	height: 43px;
}
.mBox1Mid .mBox1MidCon{
	display: block;
	width: 280px;
	height: 470px;
	margin: 0 auto;
	background: #fff;
}
.mBox1MidCon ul .mB1MidL1{
	display: inline-block;
	text-decoration: none;
	width: 280px;
	height: 59px;
	padding-top: 10px;
	border-bottom:dotted 1px #999;
}
.mB1MidL1 p{
	line-height: 21px;
}
.mB1MidL1 p a{
	display: inline-block;
	font-size: 12px;
	color: #666;
	margin-left: 10px;
	text-decoration: none;
}
.mB1MidL1 p a:hover{
	color: #cc0001;
}
.mB1MidL1 p s{
	display: inline-block;
	margin-left: 3px;
	height: 12px;
	width: 0;
	border-left: 1px solid #666;
	position: relative;
	left: 5px;
	top: 2px;
}
.mBox1MidCon ul .mB1MidL{
	display: inline-block;
	text-decoration: none;
	width: 280px;
	height: 33px;
	padding-top: 10px;
	border-bottom:dotted 1px #999;
}
.mB1MidL p a{
	display: inline-block;
	font-size: 12px;
	color: #666;
	margin-left: 10px;
	text-decoration: none;
}
.mB1MidL p a:hover{
	color: #cc0001;
}
.mB1MidL p s{
	display: inline-block;
	margin-left: 3px;
	height: 12px;
	width: 0;
	border-left: 1px solid #666;
	position: relative;
	left: 5px;
	top: 2px;
}










.mainBanner{
	width: 100%;
	height: 470px;
}
.footer{
	width: 1200px;
	height: 279px;
	margin: 0 auto;
	background: #666;
}